:root{
  --main-font: 'Open Sans', sans-serif;
  --main-background:rgb(180, 208, 231);
  --button-blue:rgb(0, 97, 255);
  --square-green:rgb(162, 211, 155);
  --square-asu-un:rgb(97, 8, 43);
  --square-orange:rgb(213, 0, 31);
  --square-yellow:rgb(255, 216, 48);
  --square-bold-blue:rgb(13, 36, 129);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:var(--main-font)
}

.container-jumbo{
  max-width: 1200px;
  margin: 0 auto;
}

.container-small {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 4rem;
  padding-top: 70px;
  padding-bottom: 50px;
}
.debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.debug > div{
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-betw {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.col-direction {
  flex-direction: column;
}

.shrink {
  flex-shrink: 0;
}

.stretch {
  align-items: stretch;
}

i {
  padding-right: 5px;
}

ul li {
  text-transform: capitalize;
  list-style: none;
}

i.fa-li {
  margin-left: 20px;
}

.btn {
  background-color: var(--button-blue);
  color: white;
  padding: 8px 15px;
}

.gray-border {
  border: 1px solid gray;
}
/* header */
 header {
  background-color: white;
  position: fixed;
  z-index: 999;
  right: 0;
  height: 80px;
  left: 0;
  top: 0;
 }

 header li:hover {
  border-bottom: 1px solid black;
 }

 .left-menu ul li {
  margin-left: 40px;
  color: black;
 }

 .right-menu ul li {
  margin-left: 20px;
  color: black;
 }

 .right-menu ul li:last-child {
  margin-right: 10px;
 }
 
 .left-menu,.right-menu {
  height: 100%;
  padding-left: 20px;
 }

 .left-menu img {
  width: 120px;
 }

 /* main */

 #jumbotron{
  margin-top: 80px;
  background-color: var(--main-background);
 }

 .left-jumbo-text {
  width: 30%;
  min-width: 200px;
  padding-bottom: 50px;
 }

 .left-jumbo-text a {
  margin-top: 40px;
  margin-bottom: 20px;
 }

 .left-jumbo-text span:last-child{
  margin-top: 30px;
 }

 .right-jumbo-img{
  float: right;
  width: 65%;
 }

#anchor {
  position: relative;
  font-size: 3rem;
}

#anchor i {
  font-weight: bolder;
  margin-top: 10px;
  padding-bottom: 10px;
}

/* option-section */

.option-section {
  margin-top: 150px;
}

.option-section h2 {
  font-size: 2.2rem;
  margin-bottom: 50px;
}

.facture-type {
  margin-bottom: 50px;
}

.blu-radius {
  margin-right: 40px;
}

.row .col .method .type-pagment {
  padding: 10px;
}

.details-pagment {
  height: 100%;
}

.col {
  width: calc(100% / 3 - 40px);
  font-size: .8rem;
  min-width: 255px;
}

.fa-ul li {
  text-align: left;
}

.details-pagment ul li {
  padding-top: 10px;
  padding-left: 15px;
}

/* enterprise section */

.enterprise-details {
  margin-top: 90px;
}

.enterprise-details .mini-title {
  width: 100%;
  text-align: center;
}

.contents-enterprise {
  width: 70%;
  padding-left:20px ;
}

.button-enterprise {
  width: 30%;
}

.contents-enterprise h3 {
  width: 100%;
  font-size: 1.8rem;
  padding-top: 30px ;
  padding-bottom: 20px;
}
.contents-enterprise h4 {
  width: 100%;
  font-weight: 510;
  padding-bottom: 50px;
}

.contents-enterprise span {
  font-size: 0.9rem;
  padding-bottom: 30px;
}

.button-enterprise {
  padding-top: 30px;
}

/* section left img with right text */

.section-img-left{
  margin-top: 150px;
}

.container-small .img-left {
  width: 65%;
}

.text-right-img {
  width: 35%;
  padding: 50px 0 0 40px;
}

.text-right-img h2 {
  margin-bottom: 20px;
}

.text-right-img div {
  margin-top: 35px;
}

/* section 6 col with img */

.section-six-col {
  margin-top: 165px;
}

.section-six-col .col {
  margin-bottom: 50px;
}

.section-six-col h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.section-six-col .row .col h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.section-six-col .row .col span {
  font-size: .9rem;
}

/* section number team */

#number-teams {

  margin-top: 160px;
  margin-bottom: 150px;
}

#number-teams h2{
  width: 80%;
  padding-bottom: 70px;
  font-size: 2.7rem;
}

/* square section */

.square-items {
  width: calc(100vw - 20px);
  height: calc(100vh - 240px);
}

.square {
  width: calc(100% / 2);
  height: 50%;
}

.left-square,
.middle-section,
.right-square {
  width:calc(100vw / 3);
}

.middle-section {
  overflow-y: auto;
  padding: 50px 50px 0 40px;
}

.square > img {
  width: 50%;
  height: 50%;
}

.middle-section img{
  width: 50%;
  

}

.middle-section .text-companies {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid black;
}

.middle-section .ceo {
  margin-top: 60px;
}

#designit {
  background-color: var(--square-green);
}

#asu {
  background-color: var(--square-asu-un);
}

#uf-florida {
  background-color: var(--button-blue);
}

#topps {
  background-color: var(--square-orange);
}

#bicy {
  background-color: var(--square-orange);
}

#hearts {
  background-color: var(--main-background);
}

#lonely {
  background-color: var(--square-bold-blue);
}

#channel {
  background-color: var(--square-yellow);
}

.left-square img,.right-square img {
  filter: invert(1);
}
/* free trial section */

.free-trial {
  background-color: var(--main-background);
  padding-top: 135px;
  padding-bottom: 135px;
}

#trial-title {
  width: 60%;
  font-size: 1.6rem;
}

.white-btn {
  width: 40%;
  text-align: right;
}

/* frequent-questions section */

.frequent-questions {
  margin-top: 165px;
  margin-bottom: 100px;
}

.frequent-questions h2 {
  margin-bottom: 69px;
}

.questions {
  padding: 30px 0 30px 0;
  border-top:1px solid black ;
}

.questions > i {
  font-size: 0.8rem;
}

/* footer  */

footer {
  background-color: black;
  color: white;
}