:root{
  --main-font: 'Open Sans', sans-serif;
  --main-background:rgb(180, 208, 231);
  --button-blue:rgb(0, 97, 255);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:var(--main-font)
}

.container-jumbo{
  position: relative;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-small {
  position: relative;
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 4rem;
  padding-top: 70px;
  padding-bottom: 50px;
}
.debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.debug > div{
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-betw {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.col-direction {
  flex-direction: column;
}

.strecth {
  align-items: stretch;
}

ul li {
  text-transform: capitalize;
  list-style: none;
}

.btn {
  background-color: var(--button-blue);
  color: white;
  padding: 5px 10px;
}

/* header */
 header {
  background-color: white;
  position: fixed;
  z-index: 999;
  right: 0;
  height: 80px;
  left: 0;
  top: 0;
 }

 .left-menu ul li {
  margin-left: 40px;
 }

 .right-menu ul li {
  margin-left: 40px;
 }

 .right-menu ul li:last-child {
  margin-right: 20px;
 }
 
 .left-menu {
  height: 100%;
  padding-left: 20px;
  color: black;
 }

 .right-menu {
  height: 100%;
  padding-left: 20px;
  color: black;
 }

 .left-menu img {
  width: 120px;
 }

 /* main */

 #jumbotron{
  margin-top: 80px;
  background-color: var(--main-background);
 }

 .left-jumbo-text {
  width: 30%;
  padding-bottom: 50px;
 }

 .left-jumbo-text a {
  margin-top: 20px;
  margin-bottom: 20px;
 }

 .right-jumbo-img{
  float: right;
  width: 70%;
 }

#anchor {
  position: relative;
  font-size: 3rem;
}

#anchor i {
  font-weight: bolder;
  margin-top: 10px;
  padding-bottom: 30px;
}

/* option-section */

.option-section {
  margin-top: 150px;
}

.option-section h2 {
  font-size: 2.2rem;
  margin-bottom: 80px;
}

.blu-radius {
  margin-right: 40px;
}


.col {
  width: calc(100% / 3);
}
