:root{
  --main-font: 'Open Sans', sans-serif;
  --main-background:rgb(180, 208, 231);
  --button-blue:rgb(0, 97, 255);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:var(--main-font)
}

.container{
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.debug > div{
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

.justify-betw {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

/* header */
 header {
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
 }
